/*
    font-family: 'Poppins', sans-serif;
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.btn__style {
    border-radius: 4px;
}

.color-btn__style a {
    color: #FFFFFF;
}

:hover, :active, :focus {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none;
}

input {
    outline:none;
}

ul,
ol {
    padding: 0;
}

body, h1, h2, h3, h4, h5, h6,
p, ul, ol, li, figure, figcaption,
blockquote, dl, dd {
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

ul,
ol {
    list-style: none;
}

a:not() {
    text-decoration-skip-ink: auto;
}

img {
    display: block;
}

article > * + * {
    margin-top: 1em;
}

input,
button,
textarea,
select {
    font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0 auto;
}

/*HEADER*/

.header__container {
    display: flex;
    align-items: center;
    padding-top: 20px;
}

.header__logo__container {
    display: flex;
    align-items: center;
    margin-right: 237px;
}

.logo-text {
    font-size: 30px;
    color: #173A56;
    font-weight: 700;
    text-transform: capitalize;
    margin-left: 16px;
}

.header__menu__container {
    display: flex;
    text-transform: capitalize;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
}

.menu-item {
    margin-right: 30px;
}

.menu-item:last-of-type {
    margin-right: 0;
}

.menu-item a {
    color: #22343D;
}

.header__btn__container {
    display: flex;
}

.btn__sign-in,
.btn__sign-out {
    padding: 10px 25px;
}

.btn__sign-in {
    border: 1px solid #BCD0E5;
    margin-right: 24px;
    margin-left: 25px;
}

.btn__sign-in a,
.btn__sign-out a {
    color: #173A56;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-transform: capitalize;
}

.btn__sign-out {
    background-color: #02897A;
    margin-right: 25px;
}

.btn__sign-out a {
    color: #FFFFFF;
}

.dark-theme {
    background: #F3F3F3;
    border-radius: 100px;
    padding: 4px 6px 4px 4px;
    width: 32px;
    height: 32px;
}

.header__nav {
    position: absolute;
    right: 36px;
    display: block;
}
.header__menu {
    display: flex;
    position: relative;
    z-index: 2;
}
.header__menu li {
    list-style: none;
    margin: 0px 0px 0px 36px;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none;
}

/*MOBILE MENU*/ 

.menu_container {
    display: none;
}

.mobile_menu_overlay, .mobile_menu_container{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.mobile_menu_container, .mobile_menu_container ul li ul{
	-webkit-transition: all 200ms;
	-moz-transition: all 200ms;
	transition: all 200ms;
}

.mobile_menu_overlay{
	display: none;
	cursor: pointer;
	z-index: 10200;
	background: rgba(0, 0, 0, 0.4);
}

.mobile_menu_container{
	-webkit-transform: translateX(-300px);
	transform: translateX(-300px);
	width: 160px;
	overflow: hidden;
	z-index: 10201;
	background: #02897A;
}

.mobile_menu_container.loaded{
   	-webkit-transform: translateX(0px);
   	transform: translateX(0px);
}

.mobile_menu_container .mobile_menu_content{
	overflow: auto;
	max-height: 100%;
	padding-bottom: 30px;
}

.mobile_menu_container ul{
	margin: 0;
	padding: 0;
}

.mobile_menu_container ul li{
	list-style: none;
}

.mobile_menu_container ul li a{
	display: block;
	padding: 15px 20px;
	line-height: 20px;
	font-size: 16px;
	background: #02897A;
	color: #ffffff;
    text-transform: capitalize;
	text-decoration: none;
	font-weight: bold;
}

.mobile_menu_container ul li:nth-of-type(5),
.mobile_menu_container ul li:nth-of-type(6)
{
	border: 1px solid #BCD0E5;
    width: 110px;
    margin-left: 17px;
}

.mobile_menu_container ul li:nth-of-type(5) {
	margin-bottom: 15px;
}

.burger{
    position: relative;
    right: 10px;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
}

.burger span, .burger span:before, .burger span:after{
    width: 100%;
    position: absolute;
    height: 10px;
    background: #02897A;
    display: block;
    transition: .3s;
    border-radius: 5px;
}
  
.burger span:before{
    content: "";
    top: -20px;
    transition: top 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.burger span{
    top: 20px;
}
  
.burger span:after{
    content: "";
    bottom: -20px;
    transition: bottom 300ms 300ms, transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

/*MAIN*/

.main {
    margin-top: 50px;
}

.main__container {
    display: flex;
    align-items: center;
}

.main-info__title {
    color: #22343D;
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
    text-transform: capitalize;
    margin-bottom: 18px;
    width: 518px;
}

.main-info__title span {
    text-transform: none;
}

.main-info__paragraph {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    color: #22343D;
    width: 458px;
}

.main-info__btn__container {
    display: flex;
    margin-top: 60px;
}

.main-info__mobile {
    display: none;
}

.btn__start {
    background: #02897A;
    padding: 15px 41px;
}

.btn__start a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: capitalize;
}

.btn__start span {
    text-transform: none;
}

.btn__video {
    padding: 15px 41px;
    width: 366px;
}

.btn__video a{
    font-weight: 600;
    font-size: 16px;
    color: #02897A;
    text-transform: capitalize;
    text-decoration: underline;
}

.btn__video span{
    text-transform: none;
}

.btn__video a::before {
    content: url(../img/triangle.png);
    position: relative;
    margin-right: 9px;
    top: 4px;
}

/*FEATURE*/

.feature {
    margin-top: 114px;
    margin-bottom: 150px;
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.feature__container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 1100px;
}

.feature__title {
    font-size: 32px;
    line-height: 48px;
    text-align: center;
    font-weight: 700;
    color: #22343D;
    margin-bottom: 57px;
    width: 535px;
}

.feature__cards__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 60px;
    width: 1095px;
}

.card {
    width: 240px;
}

.card-img {
    border-radius: 19px;
    width: 50px;
    height: 50px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    margin-bottom: 30px;
}

.first-card {
    background: #02897A;
    padding: 16px 19px;
}

.second-card {
    background: #4D8DFF;
    padding: 17px 16px 15px;
}

.third-card {
    background: #740A76;
    padding: 17px 17px 15px;
}

.fourth-card {
    background: #F03E3D;
    padding: 17px 18px 15px;
}

.card-title {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #22343D;
    margin-bottom: 13px;
}

.card-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
}

.btn__feature {
    padding: 15px 32px 14px 34px;
    background-color: #02897A;
    margin-bottom: 90px;
}

.btn__feature a {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
}

/*MANAGEMENT, SUPPORT, COLLABORATIVE*/

.mobile__management__image,
.mobile__support__image,
.mobile__collaborative__image
{
    display: none;
}

.management,
.collaborative,
.support{
    margin-bottom: 150px;
}

.management__container,
.support-container,
.collaborative__container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: auto;
}

.management__container,
.collaborative__container {
    width: 1100px;
}

.management__information,
.support__article,
.collaborative__information {
    color: #22343D;
    width: 486px;
}

.management__article,
.support__article__info,
.collaborative__article {
    margin-bottom: 30px;
}

.management__article__paragraph,
.support__article__paragraph,
.collaborative__article__paragraph {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 8px;
}

.management__article__title,
.support__article__title,
.collaborative__article__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 23px;
}

.management__article__info,
.support__article__info,
.collaborative__article__info {
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.accessory__container__title,
.alterationists__container__title,
.collaborative__container__title {
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 12px;
}

.accessory__container__paragraph,
.collaborative__container__paragraph {
    margin-bottom: 25px;
}

.accessory__container__paragraph,
.alterationists__container__paragraph {
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
}

.support-container {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 1120px;
}

.support__article {
    width: 486px;
}

.support__article__list {
    display: flex;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin-bottom: 30px;
    width: 430px;
}

.support__article__list::before {
    content: url(../img/path.png);
    border-radius: 14px;
    height: 35px;
    padding: 8px 9px 11px 10px;
    margin-right: 30px;
    width: 35px;
}

.support__article__list:nth-child(1) {
    width: 365px;
}

.support__article__list:nth-child(1)::before {
    background-color: #FF9900;
}

.support__article__list:nth-child(2)::before {
    background-color: #F03E3D;
}

.support__article__list:nth-child(3)::before {
    background-color: #4D8DFF;
}

.support__article__list:last-of-type {
    margin-bottom: 0;
}

.collaborative__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*PROCESS*/

.process {
    background-image: url(../img/background-reflection.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-bottom: 150px;
}

.process__container {
    display: flex;
    flex-wrap: wrap;
    width: 968px;
    justify-content: center;
    padding-top: 50px;
}

.process__title__container {
    color: #22343D;
    text-align: center;
    margin-bottom: 64px;
}

.process__title {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
}

.process__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #22343D;
    margin: 0 auto;
    width: 542px;
}

.process__helps__container {
    display: flex;
    margin-bottom: 90px;
}

.helps__box {
    align-items: center;
    display: flex;
    width: 395px;
    height: 53px;
}

.helps__text {
    background: #FFFFFF;
    box-shadow: 0px 2px 15px rgba(23, 58, 86, 0.1);
    border-radius: 26.5px;
    padding: 15px 25px;
}

.left__helps {
    margin-right: 178px;
}

.left__helps .helps__box:nth-of-type(1) {
    margin-bottom: 55px;
}

.left__helps .helps__box:nth-of-type(1) .helps__text{
   order: 1;
}

.right__helps .helps__box:nth-of-type(1) {
    margin-bottom: 55px;
}

.right__helps .helps__box:nth-of-type(2) .helps__text{
   order: 1;
}

.btn__process {
    background: #02897A;
    padding: 15px 30px;
    width: 216px;
}

.btn__process a {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
}

/*STRATEGIES*/

.strategies {
    margin-bottom: 150px;
}

.strategies__container {
    color: #22343D;
}

.strategies__title__container {
    margin-bottom: 33px;
}

.strategies__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}

.strategies__info {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
}

.slide__info {
    margin: 0 24px 37px;
}

.slide__info__paragraph {
    font-size: 16px;
    line-height: 28px;
    margin-top: 24px;
    margin-bottom: 12px;
}

.slide__info__paragraph span {
    font-weight: 700;
}

.slide__info__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    width: 295px;
}

.slide__info__title.active {
    color: #02897A;
}

.slide img {
    border-radius: 8px 8px 0px 0px;
}

/*STRATEGIES-SLIDER*/

.slider__container {
    overflow: hidden;
    margin-bottom: 64px;
}

.slide{
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 8px;
    width: 348px;
    list-style: none;
    display: inline;
    float: left;
    margin-right: 32px;
}

.slide:last-of-type{
    margin-right: 0;
}

.Radio-But{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Radio-But .ctrl-select {
    display:inline-block;
    width:16px;
    height:16px;
    border-radius: 100%;
    overflow:hidden;
    margin-right: 10px;
    text-indent:-9999px;
    background-color: bisque;
    cursor: pointer;
    width: 35px;
    height: 35px;
}

.Radio-But .ctrl-select {
    background: #EFEFEF;
    border-radius: 100%;
    width: 16px;
    height: 16px;
}

.Radio-But .ctrl-select.active {
    background: #02897A;
}

/*PRICE*/

.price {
    margin-bottom: 150px;
}

.price__title__container {
    color: #22343D;
    text-align: center;
    margin-bottom: 50px;
}

.price__title {
    font-weight: 700;
    font-size: 34px;
    line-height: 51px;
}

.price__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.prices__card__container {
    display: flex;
}

.prices__card {
    color: #22343D;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    margin-right: 70px;
    height: 456px;
    width: 322.65px;
}

.prices__card:nth-of-type(2) {
    background: #02897A;
    color: #FFFFFF;
}

.prices__card:last-of-type {
    margin-right: 0;
}

.prices__card__title {
    text-align: center;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    margin: 24px 0 8px;
}

.prices__card__paragraph {
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 16px;
}

.prices__card__list {
    text-align: center;
}

.prices__card__list_item {
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0.2px;
    margin-bottom: 16px;
}

.prices__card__list_item:last-of-type {
    margin-bottom: 0;
}

.prices__card__info {
    margin-bottom: 38px;
}

.prices__card__button {
    background: #02897A;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    padding: 11px 19px;
    border-radius: 8px;
    margin: 0 auto;
    width: 139px;
}

.prices__card__button a{
    color: #FFFFFF;
}

.prices__card:nth-of-type(2) .prices__card__button {
    background: #FFFFFF;
}

.prices__card:nth-of-type(2) a {
    color: #02897A;
}

.prices__card:nth-of-type(2) p {
    color: #FFFFFF;
}

.cost__container {
    display: flex;
    align-items: last baseline;
    margin: 0 auto;
    margin-bottom: 16px;
    width: 182px;
}

.cost {
    font-size: 76px;
    font-weight: 700;
    line-height: 100px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #02897A;
}

.currency-period__container {
    margin-left: 8px;
}

.currency {
    font-size: 24px;
    line-height: 30px;
    letter-spacing: 0.1px;
    font-weight: 700;
    color: #02897A;
}

.period {
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.1px;
    color: #AFAFAF;
}

/*CLIENTS-SAY*/

.clients-say {
    margin-bottom: 157px;
}

.clients-say__information__container {
    color: #22343D;
    letter-spacing: 0.2px;
    text-align: center;
    margin-bottom: 50px;
}

.clients-say__information__title {
    font-size: 34px;
    font-weight: 700;
    line-height: 57px;
}

.clients-say__information__paragraph {
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    margin: 0 auto;
    width: 537px;
}

.reviews__container {
    display: flex;
    justify-content: center;
}

.reviews {
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    border-radius: 5px;
    margin-right: 64px;
    padding: 28px 26px 24px;
    width: 327px;
}

.reviews:last-of-type {
    margin-right: 0;
}

.review__text {
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 16px 0;
}

.reviews__people__name__container {
    margin-left: 14px;
}

.review__people {
    display: flex;
}

.reviews__people__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #02897A;
}

.reviews__people__position {
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
}

/*BANNER*/

.baner {
    margin-bottom: 150px;
}

.banner__content {
    margin-top: 49px;
    margin-left: 51px;
}

.banner__container {
    display: flex;
    margin: 0 auto;
    background: #02897A;
    border-radius: 32px;
    width: 968px;
}

.banner__content__info {
    font-weight: 600;
    font-size: 32px;
    line-height: 151.4%;
    color: #FFFFFF;
    width: 510px;
}

.banner__content__button {
    background: #FFFFFF;
    border-radius: 8px;
    margin-top: 98px;
    margin-bottom: 63px;
    padding: 13px 35px 7px 33px;
    width: 150px;
}

.banner__content__button a {
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    color: #02897A;
}

.footer {
    margin-bottom: 48px;
}

.footer__container {
    width: 1109px;
}

.footer__container,
.footer__network__container,
.footer__menu__container {
    display: flex;
}

.footer__menu__container {
    margin-right: 80px;
}

.footer__logo__container {
    margin-right: 160px;
}

.footer__logo {
    display: flex;
    height: 37px;
    margin-bottom: 29px;
}

.network {
    background: #EDFFFC;
    display: flex;
    border-radius: 100%;
    height: 40px;
    margin-right: 16px;
    width: 40px;
}

.network:last-of-type {
    margin-right: 0;

}

.network img {
    margin: auto;
}

.resourse__container {
    margin-right: 140px;
}

.resourse__container, .stuff__container, a {
    color: #22343D;
}

.resourse__title, .stuff__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
}

.resourse-item,
.stuff-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 35px;
}

.footer__forms__container {
    width: 325px;
}

.footer__forms__title {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #22343D;
}

.footer-form__input {
    margin-bottom: 21px;
    margin-top: 34px;
    border: 1px solid #BCD0E5;
    box-sizing: border-box;
    border-radius: 4px;
    height: 48px;
    width: 325px;
}

.footer-form__submit {
    background: #02897A;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: #FFFFFF;
    padding: 7px 15px;
    width: 131px;
    cursor: pointer;
}

/*@media screen*/

@media screen and (max-width:1200px) {
    
    .container {
        width: 960px;
    }

    .header__container {
        width: inherit;
    }

    .header__logo__container {
        margin-right: auto;
    }

    .header__menu li {
        margin: 0px 0px 0px 15px;
    }

    .btn__video {
        width: auto;
    }

    .main-image img{
        width: 100%;
    }

    .feature__container {
        width: auto;
    }

    .feature, .management,
    .support, .collaborative,
    .process, .strategies,
    .price, .clients-say,
    .baner, .footer {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .feature__cards__container {
        width: auto;
    }

    .management__image img, 
    .support__image img, 
    .collaborative__image img {
        width: 90%;
    }

    .management__image, 
    .collaborative__image {
        margin-left: 40px;
    }

    .support__image {
        margin-right: 40px;
    }

    .strategies__title__container {
        text-align: center;
    }

    .slide {
        margin-right: 25px;
        width: min-content;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .slide__info__title {
        width: 220px;
    }

    .slide img {
        width: 100%;
    }

    .prices__card {
        color: #22343D;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.25);
        border-radius: 8px;
        margin-right: 70px;
        height: 456px;
        width: 250px;
    }

    .reviews {
        width: 265px;
    }

    .banner__container {
        width: auto;
    }

    .banner__content {
        margin-top: 25px;
        margin-left: 25px;
    }

    .banner__content__button {
        margin-bottom: 25px;
    }
    
    .footer__logo__container {
        margin-right: 50px;
    }

    .resourse__container {
        margin-right: 80px;
    }
}

@media screen and (max-width:992px) {

    .container {
        width: 720px;
    }

    .menu_container {
        display: block;
    }

    .header__container {
        justify-content: space-between;
        width: inherit;
    }

    .header__menu__container {
        display: none;
    }

    .dark-theme {
        margin-left: 25px;
    }

    .btn__sign-out {
        margin-right: 0;
    }
    
    .card {
        width: 180px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .btn__feature {
        margin-bottom: 55px;
    }

    .helps__box {
        width: auto;
    }

    .left__helps {
        margin-right: 50px;
    }

    .right__helps .helps__box:nth-of-type(1) .helps__text {
        order: 2;
    }

    .left__helps .helps__box:nth-of-type(1) .helps__text {
        order: unset;
    }

    .slide__info {
        margin: 0;
        text-align: center;
        width: 220px;
    }

    .slide__info__paragraph {
        font-size: 14px;
    }

    .slide__info__title {
        font-size: 21px;
        width: auto;
    }

    .prices__card {
        margin-right: 30px;
        width: 210px;
    }

    .reviews {
        padding: 20px 15px;
        width: 195px;
    }

    .banner__content__info {
        font-size: 30px;
        line-height: 145%;
        width: auto;
    }

    .banner__content__button {
        margin-top: 55px;
    }

    .footer .container {
        justify-content: flex-start;
    }

    .footer__container {
        width: auto;
    }

    .footer__logo__container {
        margin-right: 30px;
    }

    .footer__menu__container {
        margin-right: 40px;
    }

    .resourse__container {
        margin-right: 35px;
    }

    .footer__forms__container {
        width: min-content;
    }

    .footer__forms__title {
        font-size: 16px;
        width: 200px;
    }

    .footer-form__input {
        width: 235px;
    }
}

@media screen and (max-width:768px) {

    .container {
        width: auto;
    }

    .main__container {
        flex-direction: column;
        align-items: unset;
    }

    .main-info__btn__container {
        display: none;
    }

    .main-info__mobile {
        display: flex;
        justify-content: center;
    }

    .main-image img {
        width: 80%;
        margin: 0 auto;
    }

    .main-info {
        margin-bottom: 25px;
    }

    .main-info__paragraph,
    .main-info__title {
        text-align: center;
        width: 600px;
    }

    .main-image {
        margin-bottom: 35px;
    }

    .mobile__management__image,
    .mobile__support__image,
    .mobile__collaborative__image {
        display: block;
        margin-bottom: 25px;
    }

    .management__container,
    .support-container,
    .collaborative__container {
        justify-content: center;
    }

    .management__information, 
    .support__article, 
    .collaborative__information {
        display: flex;
        flex-direction: column;
    }

    .management__image,
    .collaborative__image,
    .support__image
    {
        display: none;
    }

    .management__article__paragraph, 
    .support__article__paragraph, 
    .collaborative__article__paragraph,
    .management__article__title, 
    .support__article__title, 
    .collaborative__article__title {
        text-align: center;
    }

    .process__helps__container {
        width: 735px;
    }

    .footer__container {
        margin: 0 auto;
    }

    .footer-form__input {
        width: 210px;
    }
}

@media screen and (max-width:576px) {
  
    .container {
        width: 90%;
    }

    .header__logo__container {
        flex-direction: column;
        margin: 0 auto;
    }

    .logo-text {
        margin-left: 0;
    }

    .header__btn__container {
        display: none;
    }

    .main-info__paragraph, .main-info__title {
        width: auto;
    }

    .main-image img {
        width: 50%;
    }

    .main-info__mobile {
        flex-direction: column;
        text-align: center;
    }

    .feature__title {
        font-size: 30px;
        width: auto;
    }

    .card {
        margin-bottom: 15px;
    }

    .feature__cards__container {
        margin-bottom: 45px;
    }
    
    .mobile__management__image img, 
    .mobile__support__image img, 
    .mobile__collaborative__image img {
        width: 70%;
        margin: 0 auto;
    }

    .management__information, 
    .support__article, 
    .collaborative__information {
        width: auto;
    }

    .support__article__list:nth-child(1) {
        width: unset;
    }

    .support__article__list {
        width: auto;
    }

    .process__helps__container {
        flex-direction: column;
        width: initial;
    }

    .process__paragraph {
        width: auto;
    }

    .left__helps {
        margin: 0 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: flex-end;
    }
    }

    .helps__text {
        width: -moz-available;
    }

    .slide {
        margin-right: 0;
        margin-bottom: 20px;
    }

    #slider-wrap {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    .slider__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .Radio-But {
        flex-direction: column;
        justify-content: space-between;
        height: 70px;
    }

    .Radio-But .ctrl-select {
        margin-left: 15px;
        margin-right: 0;
    }

    .prices__card__container {
        flex-direction: column;
    }

    .prices__card {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .prices__card:nth-of-type(3) {
        margin-bottom: 0;
    }

    .reviews__container {
        flex-direction: column;
        align-items: center;
    }

    .reviews {
        margin-right: 0;
        margin-bottom: 25px;
    }
    
    .reviews:nth-of-type(3) {
        margin-bottom: 0;
    }

    .clients-say__information__paragraph {
        font-size: 15px;
        width: auto;
    }

    .banner__container {
        flex-direction: column;
    }

    .banner__content {
        margin: 25px 10px 0;
        text-align: center;
    }

    .banner__content__button {
        margin: 10px auto 0;
    }

    .banner__image img {
        width: 100%;
    }

    .footer__container {
        flex-direction: column;
        align-items: center;
    }

    .footer__logo__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer__menu__container,
    .footer__logo__container {
        margin-right: 0;
    }

    .footer__menu__container {
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }

    .footer__forms__title {
        text-align: center;
        text-transform: uppercase;
        font-weight: 600;
    }

    .footer-form {
        display: flex;
        flex-direction: column;
    }

    .footer-form__submit {
        margin: 0 auto;
    }
}
